.ancestry_info_block_list { // ul
  display: flex;
  box-sizing: content-box;
  flex-wrap: wrap;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;

  .ancestry_info_block { // li
    display: block;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 1em;
  }
  a {
    display: block;
    height: 100%;
    min-height: 50em;
    padding: 0.5em;

    color: inherit;
    text-decoration: inherit;
    padding: 0.5em;
  }

  .ancestry_info_block_header {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: $font-size-default * 1.25;
    text-decoration: underline;
  }
  .ancestry_info_block_source {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: $font-size-default * 0.75;
  }
  .ancestry_info_block_description {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}


@media (max-width: 33em) {
  .ancestry_info_block {
    width: 50%;
  }
}
@media (max-width: 22em) {
  .ancestry_info_block {
    width: 100%;
  }
}
@media (min-width: 33em) {
  .ancestry_info_block {
    width: 33%;
  }
}
