.ancestry_info_block_list { // ul
  display: flex;
  box-sizing: content-box;
  flex-wrap: wrap;
  list-style-type: none;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;

  .ancestry_info_block { // li
    display: block;
    box-sizing: border-box;
    margin: 0;
    margin-bottom: 1em;
  }
  a {
    display: block;
    border: 1px solid black;
    min-height: 10em;
    padding: 0.5em;
    color: inherit;
    text-decoration: inherit;
    padding: 0.5em;
  }

  .ancestry_info_block_header {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: $font-size-default * 1.25;
    text-decoration: underline;
  }
  .ancestry_info_block_subheader {
    margin-top: 0;
    margin-bottom: 0.5em;
    font-size: $font-size-default * 0.75;
    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  .ancestry_info_block_description {
    margin-top: 0;
    margin-bottom: 0.5em;
  }
}


@media (max-width: 39em) {
  .ancestry_info_block {
    width: calc(50% - 1em);
  }
}
@media (max-width: 26em) {
  .ancestry_info_block {
    width: calc(100% - 1em);
  }
}
@media (min-width: 39em) {
  .ancestry_info_block {
    width: calc(100%/3 - 1em);
    // width: calc(33%-1em);
  }
}
